body,html{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: powderblue;
}
#location{
  font-family: "Courier New";
  font-size: 30px;
  font-weight: bold;
  color: blue;
}

#inputSearch{
	border: none;
	border-bottom: 2px solid grey;
}

#humidity{
	font-family: "Courier New";
	font-size: 25px;
	font-weight: bold;
	color: green;
}

#temp{
	font-family: "Courier New";
	font-weight: bold;
	font-size: 25px;
	color: grey;
}

#weather{
	font-weight: bold;
	font-size: 30px;
	font-family: "Courier New";
	color: yellow;
}
.font-large{
	font-size: 30px;
}
.btn{
	border: none;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.padd-1{
	padding: 5px;
}
